{
  "extends": "eslint:recommended",
  "env": {
    "es2020": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "standard/no-callback-literal": "off",
    "arrow-spacing": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "as-needed"],
    "prefer-template": "error",
    "max-len": ["warn", { "code": 120 }],
    "no-unused-vars": ["warn", {
      "argsIgnorePattern": "^_$|^e$|^reject$|^resolve$"
    }],
    "no-console": ["error", {
      "allow": ["warn", "error"]
    }],
    "valid-jsdoc": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "space-before-function-paren": ["warn", "never"]
  }

}